Manual Test Case to Playwright Flow.json
{
  "name": "Manual Test Case to Playwright Flow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "750c804d-908c-4df7-b600-011bf9fb0647",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6aa10e84-d316-426a-b118-bad4509c2bf8",
              "name": "=manual_test_case",
              "value": "Test Case ID: TC_001 Title: Verify valid user login  Preconditions: - User is on the login page - Valid username and password are available  Test Steps: 1. Open the login page 2. Enter valid username 3. Enter valid password 4. Click the login button  Expected Result: - User should be logged in successfully - User should land on the dashboard/home page  Test Data: - Username: testuser@example.com - Password: Password123  Environment: - Test / QA",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "a9cd0aab-8abe-4a68-abdb-15cfe7fe390f",
      "name": "Sample Manual Test Case"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.manual_test_case }}",
        "options": {
          "systemMessage": "You are a QA Test Case Analyzer.\n\nExtract these fields from the manual test case:\n- test_case_id\n- title\n- preconditions\n- test_steps\n- expected_result\n- test_data\n- environment\n\nReturn valid JSON only."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "94426395-a088-4c25-8dfe-62b9f20e723d",
      "name": "Agent 1 - Test Case Analyzer"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        352,
        224
      ],
      "id": "9a8595ec-0a31-4793-aa76-1a1d2b7692e9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "SbST3TV2bLJ3H5DO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "Use this tool only if you need to clean or format the extracted test case fields into a simple structured object.",
        "jsCode": "return [\n  {\n    json: {\n      status: \"Tool executed successfully\",\n      message: \"Structured test case formatting tool is available.\"\n    }\n  }\n];"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        560,
        256
      ],
      "id": "a963484c-a68d-4c8d-b3f8-bf72c612feb2",
      "name": "Code Tool"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "You are an Automation Feasibility Agent for QA testing.\n\nYou will receive a structured test case in JSON format.\n\nYour job is to:\n1. Decide whether the test case is automatable\n2. Identify any missing information needed for automation\n3. List the required selectors or page elements likely needed\n4. List the assertions that should be validated\n5. List setup or preconditions needed for automation\n6. Convert the test case into an automation-ready structure\n\nReturn valid JSON only.\n\nUse this JSON structure:\n{\n  \"automatable\": true,\n  \"reason\": \"\",\n  \"missing_information\": [],\n  \"required_selectors\": [],\n  \"required_assertions\": [],\n  \"automation_preconditions\": [],\n  \"automation_steps\": [],\n  \"notes\": []\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        768,
        0
      ],
      "id": "0ae09761-5620-4405-ab60-ab29cd861457",
      "name": "Agent 2 - Automation Feasibility Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        720,
        224
      ],
      "id": "78b4c1be-d8c1-4b68-a0ba-4153b8d0509f",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "SbST3TV2bLJ3H5DO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "Use this tool only if you need to clean or format the automation feasibility output into a simple structured object.",
        "jsCode": "return [\n  {\n    json: {\n      status: \"Tool executed successfully\",\n      message: \"Automation feasibility formatting tool is available.\"\n    }\n  }\n];"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        912,
        256
      ],
      "id": "e0dd8ee6-298e-4f97-9609-543667dc4d8d",
      "name": "Code Tool1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "You are a Playwright Test Generator Agent.\n\nYou will receive an automation-ready test case in JSON format.\n\nYour job is to generate a Playwright test script in JavaScript.\n\nRequirements:\n1. Use Playwright test syntax\n2. Create one complete test\n3. Add comments for important steps\n4. Use placeholder selectors where exact selectors are not available\n5. Use placeholder URL where exact URL is not available\n6. Include assertions for successful login\n7. Return only code, no explanation\n\nUse JavaScript Playwright test format."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1120,
        0
      ],
      "id": "4520be6c-5c50-4859-bc6d-bd4a1ec55b5c",
      "name": "Agent 3 - Playwright Generator Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1088,
        224
      ],
      "id": "10542f2d-110d-4a34-9c68-ea0d115756fd",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "SbST3TV2bLJ3H5DO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "Use this tool only if you need to clean or format generated Playwright code output.",
        "jsCode": "return [\n  {\n    json: {\n      status: \"Tool executed successfully\",\n      message: \"Playwright code formatting tool is available.\"\n    }\n  }\n];"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        1264,
        256
      ],
      "id": "9a29dec5-99fa-4204-8929-8a359e732fc9",
      "name": "Code Tool2"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Sample Manual Test Case",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sample Manual Test Case": {
      "main": [
        [
          {
            "node": "Agent 1 - Test Case Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent 1 - Test Case Analyzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code Tool": {
      "ai_tool": [
        [
          {
            "node": "Agent 1 - Test Case Analyzer",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agent 1 - Test Case Analyzer": {
      "main": [
        [
          {
            "node": "Agent 2 - Automation Feasibility Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agent 2 - Automation Feasibility Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code Tool1": {
      "ai_tool": [
        [
          {
            "node": "Agent 2 - Automation Feasibility Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agent 2 - Automation Feasibility Agent": {
      "main": [
        [
          {
            "node": "Agent 3 - Playwright Generator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Agent 3 - Playwright Generator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code Tool2": {
      "ai_tool": [
        [
          {
            "node": "Agent 3 - Playwright Generator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "156a769b-349d-405e-a145-9063708a2587",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cef37d42e1f46cf83d9213246bb36327079bba486ac751d5242116552e2c8e61"
  },
  "id": "O3dVhfZhZYFgVnw3",
  "tags": []
}